<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Flask App{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            />
        <link type="text/css" rel="stylesheet"
            href="{{url_for('static',filename='style.css')}}">
        <style>
        /* Style for the dark menu */
        .navbar {
            background-color: #343a40;
        }
        .navbar-brand {
            color: white;
        }
        .navbar-nav li a {
            color: white;
            margin-left: 10px;
            margin-right: 10px;
        }
        .navbar-nav li a:hover {
            color: #17a2b8;
        }
    </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='Images/logo.png')
                        }}"
                        alt="Logo" height="30">
                </a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('teams')}}">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('drivers')}}">Drivers</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Compare <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url_for('compare_drivers')}}">Compare Drivers</a></li>
                                <li><a href="{{url_for('compare_teams')}}">Compare Teams</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/compare">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
        <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
