{% extends "base.html" %}
{% block login_menu %}

{% if user %}
  <li class="nav-item">
    <button class="nav-link btn btn-link" style="outline: none; font-size: 16px; margin-top: -6px; color: #fff;" id="logout">Logout</button>
 </li>

{%elif not user %}
  <li class="nav-item">
    <button class="nav-link btn btn-link" style="outline: none; font-size: 16px; margin-top: -6px; color: #fff;" id="login">Login</button>
  </li>

{% endif %}

{% endblock %}

{% block content %}

<div class="row">
    {% if user %}
    <div class="col-md-6">
        <button class="btn btn-primary" id="add-driver-button">Add Driver</button>
    </div>
    {% endif %}
    <div class="col-md-6">
        <button class="btn btn-primary" id="filter-drivers-button">Filter
            Drivers</button>
    </div>
</div>

</br></br>
{% if error %}
<div id="error-alert" class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
</br></br></br></br>
{% if user %}
    <div id="add-driver-form" class="container d-flex justify-content-center" hidden="true">
        
        <form id="driver-form" action="/add_driver" method="POST" class="col-md-6">
            <div class="form-group">
                <label for="firstName">Name:</label>
                <input type="text" name="firstName" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" name="age" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="pole_positions">Pole Position:</label>
                <input type="number" name="pole_positions" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="total_race_wins">Total Race Wins:</label>
                <input type="number" name="total_race_wins" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="total_points_scored">Total Points Scored:</label>
                <input type="number" name="total_points_scored" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="total_world_titles">Total World Titles:</label>
                <input type="number" name="total_world_titles" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="total_fastest_laps">Total Fastest Laps:</label>
                <input type="number" name="total_fastest_laps" required  class="form-control">
            </div>
            <div class="form-group">
                <label for="team">Team Drive For:</label>
                <select name="team" id="team-select" class="form-control">
                    
                    {% for team in teamNames %}
                    <option value={{ team.key.name }}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" id="cancel-team-btn" class="btn btn-secondary">Cancel</button>
        </form>
    
    </div>
{% endif %}

<!-- <div id="add-driver-form" class="form-container" hidden="true">
    <form id="driver-form" action="/add_driver"
        method="POST">
        <label for="firstName">Name:</label>
        <input type="text" name="firstName" required><br>

        <label for="age">Age:</label>
        <input type="number" name="age" required><br>

        <label for="pole_positions">Pole Position:</label>
        <input type="number" name="pole_positions" required><br>

        <label for="total_race_wins">Total Race Wins:</label>
        <input type="number" name="total_race_wins" required><br>

        <label for="total_points_scored">Total Points Scored:</label>
        <input type="number" name="total_points_scored" required><br>
        <label for="total_world_titles">Total World Titles:</label>
        <input type="number" name="total_world_titles" required><br>
        <label for="total_fastest_laps">Total Fastest Laps:</label>
        <input type="number" name="total_fastest_laps" required><br>
        <label for="team">Team Drive For:</label>
        <select name="team" id="team-select">
            {% for team in teamNames %}
            <option value={{ team.key.name }}>{{ team.name }}</option>
            {% endfor %}
        </select>


        <button type="submit">Save</button>
        <button type="submit" id="cancel-team-btn">cancel</button>
    </form>
</div> -->

<div id="filter-drivers-form" class="form-container" hidden="true">
    <form action="/filter_drivers" method="POST">
        <div>
            <label for="team">Team Drive For:</label>
            <select name="team" id="team-select" class="select">
                <option value="">Filter by Team</option>
                {% for team in teamNames %}
                <option value={{ team.key.name }}>{{ team.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="wins">Total Wins Filter:</label>
            <input type="number" class="form-control" id="wins" name="wins">
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Total Wins</th>
            <th>Team</th>
            {% if user %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr>
            <td><a href="{{url_for('driver_details',name=
                    driver.key.name)}}">{{ driver.name }}</a></td>
            <td>{{ driver.age }}</td>
            <td>{{ driver.total_race_wins }}</td>
            <td>{{ driver.teamName}}</td>
            {% if user %}
            <td><a href="{{url_for('delete_driver',name= driver.key.name)}}"><i
                        class="fas fa-trash-alt" style="color: red;"></i></a></td>
                        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block styles %}
<style>
    .form-container {
        display: none;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .table {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $("#add-driver-button").click(function() {
            $("#add-driver-form").toggle();
            $("#filter-drivers-form").hide();
        });
        $("#filter-drivers-button").click(function() {
            $("#filter-drivers-form").toggle();
            $("#add-driver-form").hide();
        });
    });
</script>
{% endblock %}
