{% extends "base.html" %}

{% block content %}
<div class="container-full-bg">
<div class="jumbotron jumbotron-fluid text-white bg-dark" style="background-image: url('/static/Images/car.png'); background-size: cover; background-position: center center; height: 100vh;">
  <div class="container">
    <h1 class="display-4">Welcome to the F1 Race</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('teams')}}" role="button">Teams</a>
    <a class="btn btn-primary btn-lg" href="{{url_for('drivers')}}" role="button">Drivers</a>
  </div>
</div>
</div>
{% endblock %}
