{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-6">
		<button class="btn btn-primary" id="add-team-button">Add Team</button>
	</div>
	<div class="col-md-6">
		<button class="btn btn-primary" id="filter-teams-button">Filter
			Teams</button>
	</div>
</div>
<div id="add-team-form" class="form-container" hidden="true">
	<form id="team-form" action="/add_team" method="POST">
		<label for="name">Team Name:</label>
		<input type="text" name="name" required><br>
		<label for="year_founded">Year Founded:</label>
		<input type="number" name="year_founded" required><br>

		<label for="total_pole_position">Total Pole Positions:</label>
		<input type="number" name="total_p_pos" required><br>

		<label for="total_race_wins">Total Race Wins:</label>
		<input type="number" name="total_race_w" required><br>

		<label for="total_cup_titles">Total Cup Titles:</label>
		<input type="number" name="total_c_titles" required><br>

		<label for="previous_season_position">Previous Season Position:</label>
		<input type="number" name="prevSeason_pos" required><br>

		<button type="submit">Save</button>
		<button type="submit" id="cancel-team-btn">cancel</button>
	</form>

</div>


<div id="filter-team-form" class="form-container" hidden="true">
	<form action="/filter_teams" method="POST">
		<div>

		</div>
		<div class="form-group">
			<label for="total_c_tiitles">Total Cup Titles:</label>
			<input type="number" class="form-control" id="total_c_titles"
				name="total_c_titles">
		</div>
		<button type="submit" class="btn btn-primary">Filter</button>
	</form>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Previous Season Pos</th>
			<th>Total Cup Titles</th>
			<th>Total Race Wins</th>

			<th>Year Founded</th>
			<th>Action</th>

		</tr>
	</thead>
	<tbody>
		{% for team in teamNames %}
		<tr>
			<td><a href="{{url_for('team_details',team_id = team.key.id)}}"
					class="text-primary font-weight-bold stretched-link">{{ team.name }}</a></td>
			<td>{{ team.prevSeason_pos }}</td>
			<td>{{ team.total_c_titles }}</td>
			<td>{{ team.total_race_w}}</td>
			<td>{{ team.year_founded}}</td>
			<td><a href="{{url_for('delete_team',team_id = team.key.id)}}"><i class="fas fa-trash-alt" style="color: red;"></i></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block styles %}
<style>
    .form-container {
        display: none;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .table {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block scripts %}

<script>
	

		$(document).ready(function() {
        $("#add-team-button").click(function() {
            $("#add-team-form").toggle();
            $("#filter-team-form").hide();
        });
		$("#cancel-team-btn").click(function() {
            $("#add-team-form").reset();
            $("#add-team-form").hide();
        });
        $("#filter-teams-button").click(function() {
            $("#filter-team-form").toggle();
            $("#add-team-form").hide();
        });
    });


	
	</script>
{% endblock %}